/* Button styling */
.action-btn {
  background: white;
  border-radius: 16px;
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 2.2px solid;
  /* transition: all 0.2s; */
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.25s ease, transform 0.25s ease, color 0.25s ease;
  /* transition: background-color 0.5s ease, transform 0.5s ease; */
}

.max-w-5xl {
  margin-top: 2rem; /* adjust this value to move buttons down */
}

.action-btn.blue:hover {
  transform: scale(0.97);
  background-color: rgba(59, 130, 246, 0.1); /* 80% transparent blue background */
  color: #000; /* optional: ensure text stays visible */
}

.action-btn.orange:hover {
  transform: scale(0.97);
  background-color: rgba(249, 115, 22, 0.1); /* 80% transparent orange */
}

.action-btn.cyan:hover {
  transform: scale(0.97);
  background-color: rgba(6, 182, 212, 0.1); /* 80% transparent cyan */
}

.action-btn.red:hover {
  transform: scale(0.97);
  background-color: rgba(239, 68, 68, 0.1); /* 80% transparent red */
}

.icon-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  color: white;
}

/* Button colors */
.blue { border-color: #93c5fd; }
.blue .icon-circle { background-color: #3b82f6; }

.orange { border-color: #fdba74; }
.orange .icon-circle { background-color: #f97316; }

.cyan { border-color: #67e8f9; }
.cyan .icon-circle { background-color: #06b6d4; }

.red { border-color: #f87171; }
.red .icon-circle { background-color: #ef4444; }


/* Toast container */
.toast-container {
  position: fixed;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

/* Main message font */
.toast-text {
  font-weight: bold;
  font-size: 0.8rem;
}

/* Description font */
.toast-description {
  font-size: 0.8rem;
}


/* Toast styling */
.toast {
  min-width: 180px;
  max-width: 550px;
  padding: 0.4rem 0.5rem;
  border-radius: 8px;
  font-weight: normal;
  text-align: left;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  animation: fadeInDown 0.3s ease-out;
  margin-top: 0.5rem;
  color: rgb(4, 75, 32);
}

.toast.success { background-color: #9fedb5; }
.toast.info { background-color: #cbecf2; color: #1c6571; }
.toast.error { background-color: #f8dfdf;   color: #a32a2a;}
.toast.justArrived { 
  background-color: #9fedb5;   /* orange for "Just Arrived" */ 

}

@media (max-width: 640px) {
  .action-btn {
    padding: 1.5rem;
    font-size: 1.1rem;
  }

  .icon-circle {
    width: 64px;
    height: 64px;
    font-size: 1.6rem;
  }
}



@keyframes fadeInDown {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}
